### Things that GIT should ignore

# OS-X cruft
.DS_Store?
Icon?

# Emacs backups
*~
\#*\#

# Compiled Python
*.pyc

# My own
TODO.txt
NOTES.txt
jjtest.js
jjbug.js
jjmailrelay.local.sh
*_out.jpg

# Misc
.cache.json
