### Things that GIT should ignore

# OS-X cruft
.DS_Store?
Icon?

# Emacs backups
*~
\#*\#

# Compiled Python
*.pyc

# My own
NOTES.txt
jjtest.js
*_out.jpg

/local/lib/node/.npm/.cache/.cache.json
/TODO.txt
