.jjStepNumber {
    font-size: xx-large;
    font-weight: bolder;
    border-style: solid;
    border-width: 3px;
    margin: 5px;
    padding: 0px 5px;
    float: left;
}

.jjStepHeader {
    width: 80%;
    margin: 15px 10px;
    float:left;
}

#jjExampleImg {
    width:280px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.jjDisplayUrl, .jjEmailUrl {
    font-size: large;
    font-weight: bold;
    margin: 7px;
}

#jjSlideshowPlay, #jjSlideshowStop, #jjSlideshowPrev,
#jjSlideshowNext, #jjSlideshowFirst, #jjSlideshowLast {
    background-image: url(../images/jj-play-icons-36-black.png);
    background-repeat:no-repeat;
    width: 36px;
    height:36px;
    padding: 6px;
}
 
#jjSlideshowPlay  { background-position:    6px 4px; }
#jjSlideshowStop  { background-position:  -66px 4px; }
#jjSlideshowPrev  { background-position: -138px 4px; }
#jjSlideshowNext  { background-position: -210px 4px; }
#jjSlideshowFirst { background-position: -282px 4px; }
#jjSlideshowLast  { background-position: -354px 4px; }

#jjControls {
    text-align: center;
}

#jjCreateName, #jjCalibrateFile, #jjUploadFile {
    width: 95%;
}

/* ---------------------------------------------------------------------- */

.ui-mobile-viewport {
    max-width: 600px;
    min-height: 100%;
    margin: 0 auto;
    position:relative;
}


