.jjStepNumber {
    font-size: xx-large;
    font-weight: bolder;
    border-style: solid;
    border-width: 3px;
    margin: 5px;
    padding: 5px;
}

.jjDisplayUrl, .jjEmailUrl {
    font-size: large;
    font-weight: bold;
    margin: 7px;
}
/* ---------------------------------------------------------------------- */


#jjSlideshowPlay, #jjSlideshowStop, #jjSlideshowPrev,
#jjSlideshowNext, #jjSlideshowFirst, #jjSlideshowLast {
    background-image: url(images/jj-play-icons-36-black.png);
    background-repeat:no-repeat;
    width: 36px;
    height:36px;
    padding: 6px;
}
 
#jjSlideshowPlay  { background-position:    6px 6px; }
#jjSlideshowStop  { background-position:  -66px 6px; }
#jjSlideshowPrev  { background-position: -138px 6px; }
#jjSlideshowNext  { background-position: -210px 6px; }
#jjSlideshowFirst { background-position: -282px 6px; }
#jjSlideshowLast  { background-position: -354px 6px; }

.ui-mobile-viewport {
    max-width: 600px;
    min-height:100%;
    margin:0 auto;
    position:relative;
}
.ui-page {
    max-width: 600px;
    min-height: 100%;
    margin: 0 auto;
}
