!!!
html(lang="en")
  head
    title Junkyard Jumbotron
    link(rel="stylesheet", href="jquery.mobile-1.0a2.css", type="text/css")
    link(rel="stylesheet", href="jjcontroller.css", type="text/css")

    script(type="text/javascript", src="phonegap.js")
    script(type="text/javascript", src="jquery-1.4.4.js")
    script(type="text/javascript", src="jquery.cookie.js")
    script(type="text/javascript", src="jquery.form.js")
    script(type="text/javascript", src="jquery.mobile-1.0a2.js")
    script(type="text/javascript", src="socket.io/socket.io.js")
    script(type="text/javascript", src="jjcontroller.js")

  body

    //- Home
    div(data-role="page", data-theme="e", id="jjHome")
      div(data-role="header", data-position="inline", data-nobackbtn="true")
        h1 Create/Connect
      div(data-role="content")

        p Create a new Jumbotron or control an existing one.
        a(href="#jjCreate", data-role="button", data-rel="dialog", data-transition="pop") Create new Jumbotron
        a(href="#jjControl", data-role="button", data-rel="dialog", data-transition="pop") Control a Jumbotron
        br
        a(href="#jjJoin", data-role="button", data-rel="dialog", data-transition="pop") Join a Jumbotron

      div(data-role="footer", data-position="fixed", data-id="jjFooter")
        div(data-role="navbar")
          ul
            li
              a.ui-btn-active(href="#jjHome", data-icon="home") Home
            li
              a(href="#jjCalibrate", data-icon="grid") Calibrate
            li
              a(href="#jjUpload", data-icon="plus") Upload
            li
              a(href="#jjManage", data-icon="lines") Manage
            li
              a(href="#jjHelp", data-icon="help") Help

    //- Home.Create
    div(data-role="page", data-theme="e", id="jjCreate")
      div(data-role="header", data-position="inline", data-nobackbtn="true")
        a(href="#jjHome", data-role="button", data-icon="delete", data-iconpos="notext") Cancel
        h1 Create
      div(data-role="content")

        p
          | Give your new Jumbotron a name and a password.
          | The optional email address lets you retrieve a lost password.
        form#jjCreateForm(action="create", method="POST")
          label(for="jjCreateName") Jumbotron:
          input#jjCreateName(name="name", type="text")
          label(for="jjCreatePassword") Password:
          input#jjCreatePassword(name="password", type="password")
          label(for="jjCreateEmail") Email (optional):
          input#jjCreateEmail(name="email", type="email")
          input#jjCreateSubmit(name="create", type="submit", value="Create")

    //- Home.Control
    div(data-role="page", data-theme="e", id="jjControl")
      div(data-role="header", data-position="inline", data-nobackbtn="true")
        a(href="#jjHome", data-role="button", data-icon="delete", data-iconpos="notext") Cancel
        h1 Control
      div(data-role="content")

        form#jjControlForm(action="control", method="POST")
          label(for="jjControlName") Jumbotron:
          input#jjControlName(name="name", type="text")
          label(for="jjControlPassword") Password:
          input#jjControlPassword(name="password", type="password")
          input#jjControlSubmit(name="control", type="submit", value="Control")

    //- Home.Join
    div(data-role="page", data-theme="e", id="jjJoin")
      div(data-role="header", data-position="inline", data-nobackbtn="true")
        a(href="#jjHome", data-role="button", data-icon="delete", data-iconpos="notext") Cancel
        h1 Join
      div(data-role="content")

        form#jjJoinForm(action="join", method="POST")
          label(for="jjJoinName") Jumbotron:
          input#jjJoinName(name="name", type="text")
          input#jjJoinSubmit(name="join", type="submit", value="Join")

    //- Calibrate
    div(data-role="page", data-theme="e", id="jjCalibrate")
      div(data-role="header", data-position="inline", data-nobackbtn="true")
        h1 Calibrate
      div(data-role="content")

        p Upload a calibration image
        form#jjCalibrateForm(action="calibrate", enctype="multipart/form-data", method="POST")
          label(for="jjCalibrateFile") File:
          input#jjCalibrateFile(name="file", type="file")
          input#jjCalibrateSubmit(name="calibrate", type="submit", value="Calibrate")
        a#jjCalibrateCamera(data-role="button", href="#") Take a Picture
        a#jjCalibrateAlbum(data-role="button", href="#") From Photo Album

      div(data-role="footer", data-position="fixed", data-id="jjFooter")
        div(data-role="navbar")
          ul
            li
              a(href="#jjHome", data-icon="home") Home
            li
              a.ui-btn-active(href="#jjCalibrate", data-icon="grid") Calibrate
            li
              a(href="#jjUpload", data-icon="plus") Upload
            li
              a(href="#jjManage", data-icon="lines") Manage
            li
              a(href="#jjHelp", data-icon="help") Help

    //- Upload
    div(data-role="page", data-theme="e", id="jjUpload")
      div(data-role="header", data-position="inline", data-nobackbtn="true")
        h1 Upload
      div(data-role="content")

        p Upload an image
        form#jjUploadForm(action="upload", enctype="multipart/form-data", method="POST")
          label(for="jjUploadFile") File:
          input#jjUploadFile(name="file", type="file")
          input#jjUploadSubmit(name="upload", type="submit", value="Upload")
        a#jjUploadCamera(data-role="button", href="#") Take a Picture
        a#jjUploadAlbum(data-role="button", href="#") From Photo Album

      div(data-role="footer", data-position="fixed", data-id="jjFooter")
        div(data-role="navbar")
          ul
            li
              a(href="#jjHome", data-icon="home") Home
            li
              a(href="#jjCalibrate", data-icon="grid") Calibrate
            li
              a.ui-btn-active(href="#jjUpload", data-icon="plus") Upload
            li
              a(href="#jjManage", data-icon="lines") Manage
            li
              a(href="#jjHelp", data-icon="help") Help

    //- Manage
    div(data-role="page", data-theme="e", id="jjManage")
      div(data-role="header", data-position="inline", data-nobackbtn="true")
        h1 Manage
      div(data-role="content")

        div#jjFitButtons(data-role="controlgroup", data-type="horizontal")  
          a#jjFitMaximize(data-role="button", href="#") Maximize
          a#jjFitMinimize(data-role="button", href="#") Minimize
          a#jjFitStretch(data-role="button", href="#") Stretch

        div#jjSlideshowButtons(data-role="controlgroup", data-type="horizontal")
          a#jjSlideshowFirst(data-role="button", href="#") first
          a#jjSlideshowPrev(data-role="button", href="#") prev
          a#jjSlideshowPlay(data-role="button", href="#") play
          a#jjSlideshowStop(data-role="button", href="#") stop
          a#jjSlideshowNext(data-role="button", href="#") next
          a#jjSlideshowLast(data-role="button", href="#") last

        p Interval (seconds)
        input#jjSlideshowInterval(name="interval", type="text", value="5", size="4", maxlength="4")

        a#jjRecalibrate(data-role="button", href="#") Recalibrate

      div(data-role="footer", data-position="fixed", data-id="jjFooter")
        div(data-role="navbar")
          ul
            li
              a(href="#jjHome", data-icon="home") Home
            li
              a(href="#jjCalibrate", data-icon="grid") Calibrate
            li
              a(href="#jjUpload", data-icon="plus") Upload
            li
              a.ui-btn-active(href="#jjManage", data-icon="lines") Manage
            li
              a(href="#jjHelp", data-icon="help") Help


    //- Help
    div(data-role="page", data-theme="e", id="jjHelp")
      div(data-role="header", data-position="inline", data-nobackbtn="true")
        h1 Help
      div(data-role="content")

      p TODO

      div(data-role="footer", data-position="fixed", data-id="jjFooter")
        div(data-role="navbar")
          ul
            li
              a(href="#jjHome", data-icon="home") Home
            li
              a(href="#jjCalibrate", data-icon="grid") Calibrate
            li
              a(href="#jjUpload", data-icon="plus") Upload
            li
              a(href="#jjManage", data-icon="lines") Manage
            li
              a.ui-btn-active(href="#jjHelp", data-icon="help") Help
