!!!
html(lang="en")
  head
    title Junkyard Jumbotron

    link(rel="stylesheet", href="css/jjdisplay.css", type="text/css")

    script(type="text/javascript", src="socket.io/socket.io.js")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.4.4.min.js")
    script(type="text/javascript", src="javascript/jquery.cookie.min.js")
    script(type="text/javascript", src="javascript/json2.min.js")

    script(type="text/javascript", src="javascript/jjclient.js")
    script(type="text/javascript", src="javascript/jjdisplay.js")

  body
    div#label
      span#name ?
      span#id ?
    div#finalcrop
      div#crop
        div#img
