!!!
html(lang="en")
  head
    title Junkyard Jumbotron

    //- TODO/PHONEGAP: Use local jquery and jquery mobile
    //-   script(type="text/javascript", src="javascript/phonegap.js")
    //-   script(type="text/javascript", src="javascript/jquery-1.4.4.min.js")
    //-   script(type="text/javascript", src="javascript/jquery.mobile-1.0a3.min.js")
    //-   link(rel="stylesheet", href="css/jquery.mobile-1.0a2.css", type="text/css")

    link(rel="stylesheet", href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css", type="text/css")
    link(rel="stylesheet", href="css/jjcontroller.css", type="text/css")

    script(type="text/javascript", src="http://code.jquery.com/jquery-1.4.4.min.js")
    script(type="text/javascript", src="javascript/jquery.cookie.min.js")
    script(type="text/javascript", src="javascript/jquery.form.min.js")
    script(type="text/javascript", src="javascript/json2.min.js")
    script(type="text/javascript", src="javascript/jjclient.js")
    script(type="text/javascript", src="javascript/jjcontroller.js")
    script(type="text/javascript", src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js")
    script(type="text/javascript", src="socket.io/socket.io.js")
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22130656-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body

    //- Home
    div(data-role="page", id="home")

      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1 Junkyard Jumbotron
        a.jjNavHelp(href="#help", data-icon="info") Help

      div(data-role="content")
        img#jjExampleImage(src="images/example.jpg")
        p
          | The
          b Junkyard Jumbotron 
          | lets you take a bunch of random displays and instantly
          | stitch them together into a large, virtual display, simply
          | by taking a photograph of them.
          | It works with laptops, smartphones, tablets --- anything
          | that runs a web browser. It also highlights a new way of
          | connecting a large number of heterogenous devices to each
          | other in the field, on an ad-hoc basis.
        p(style="text-align:center")
          a(href="#create",class="link-button") Create One Now!
          | (The software is currently in BETA.)
        p
          iframe#jjExampleVideo(src="http://player.vimeo.com/video/20962561?title=0&amp;byline=0&amp;portrait=0", width="400", height="225", frameborder="0")
        p
          | The Junkyard Jumbotron is designed by Rick Borovoy,
          | Ph.D. and Brian Knep at MIT's Center for Future Civic
          | Media.
        p
          | Discuss the Junkyard Jumbotron on 
          a(href="https://www.facebook.com/JunkyardJumbotron") Facebook
        p
          | Contact us at
          a(href="mailto:jumbotron@media.mit.edu") jumbotron@media.mit.edu
        p
          a(href="http://twitter.com/share", class="twitter-share-button", data-url="http://jumbotron.media.mit.edu", data-text="Junkyard Jumbotron", data-count="none") Tweet
          script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
        p
          iframe(src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fjumbotron.media.mit.edu&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=light&amp;height=80", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:450px; height:80px;", allowTransparency="true")

    //- Help
    div(data-role="page", id="help")

      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1 Junkyard Jumbotron
        a.jjNavHelp(href="#help", data-icon="info") Help

      div(data-role="content")
        p Sorry, no help yet. Stay tuned!

    //- Create
    div(data-role="page", id="create")

      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1.jjTitle Junkyard Jumbotron
        a.jjNavHelp(href="#help", data-icon="info") Help
        div(data-role="navbar")
          ul
            li
              a.jjNavCreate.ui-btn-active(href="#create") 1. Create
            li
              a.jjNavCalibrate(href="#calibrate", rel="external") 2. Calibrate
            li
              a.jjNavControl(href="#control") 3. Control

      div(data-role="content")
        div
          p
            div.jjStepNumber 1
            div.jjStepHeader What is the name of your jumbotron?
          form#jjCreateForm(action="create", method="POST", data-ajax="false")
            input#jjCreateName(name="name", type="text")
            input#jjCreateSubmit(name="create", type="submit", value="Create") Next
          p Tip: you can also connect to an existing jumbotron


    //- Calibrate
    div(data-role="page", id="calibrate")

      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1.jjTitle Junkyard Jumbotron
        a.jjNavHelp(href="#help", data-icon="info") Help
        div(data-role="navbar")
          ul
            li
              a.jjNavCreate(href="#") 1. Create
            li
              a.jjNavCalibrate.ui-btn-active(href="#") 2. Calibrate
            li
              a.jjNavControl(href="#") 3. Control

      div(data-role="content")

        div
          p
            div.jjStepNumber 2
            div.jjStepHeader Open
              span.jjDisplayUrl jj.brownbag.me/none
              span on each of the devices.
              br
              span Take a calibration picture and upload it below or email it to
              span.jjEmailUrl none@jj.brownbag.me

          form#jjCalibrateForm(action="upload", enctype="multipart/form-data", method="POST", data-ajax="false")
            input#jjCalibrateType(name="type", type="hidden", value="calibrate")
            input#jjCalibrateFile(name="file", type="file")
            p 
              | If emailing the image, please wait until the
              | "Jumbotron" image comes up before clicking Next or
              | Control above. (We're working on a fix!) 
              | If the calibration doesn't work, check your email for feedback.
            input#jjCalibrateSubmit(name="calibrate", type="submit", value="Next")
          p Tip: Make sure each marker can be seen completely and avoid glare.

    //- Control
    div(data-role="page", id="control")

      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1.jjTitle Junkyard Jumbotron
        a.jjNavHelp(href="#help", data-icon="info") Help
        div(data-role="navbar")
          ul
            li
              a.jjNavCreate(href="#") 1. Create
            li
              a.jjNavCalibrate(href="#") 2. Calibrate
            li
              a.jjNavControl.ui-btn-active(href="#") 3. Control

      div(data-role="content")

        div
          p
            div.jjStepNumber 3
            div.jjStepHeader Upload pictures below or email them to 
              span.jjEmailUrl none@jj.brownbag.me

          form#jjUploadForm(action="upload", enctype="multipart/form-data", method="POST", data-ajax="false")
            input#jjCalibrateType(name="type", type="hidden", value="image")
            input#jjUploadFile(name="file", type="file")
            input#jjUploadSubmit(name="upload", type="submit", value="Upload")

          div#jjControls(data-role="fieldcontain")
            //- Slideshow
            div#jjSlideshowButtons(data-role="controlgroup", data-type="horizontal")
              a#jjSlideshowFirst(data-role="button", href="#") 
              a#jjSlideshowPrev(data-role="button", href="#")  
              a#jjSlideshowPlay(data-role="button", href="#")  
              a#jjSlideshowStop(data-role="button", href="#")  
              a#jjSlideshowNext(data-role="button", href="#")  
              a#jjSlideshowLast(data-role="button", href="#")  
              input#jjSlideshowInterval(name="interval", type="hidden", value="5")
            //- Fit
            div#jjFitButtons(data-role="controlgroup", data-type="horizontal")  
              a#jjFitMaximize(data-role="button", href="#") Max
              a#jjFitMinimize(data-role="button", href="#") Min
              a#jjFitStretch(data-role="button", href="#") Stretch
            //- Delete
            div#jjDeleteButtons(data-role="controlgroup", data-type="horizontal")  
              a#jjDeleteOne(data-role="button", href="#") Delete
              a#jjDeleteAll(data-role="button", href="#") Delete All
            //- Debug
            div#jjShowButtons(data-role="controlgroup", data-type="horizontal")  
              a#jjShowIdOn(data-role="button", href="#") Ids On
              a#jjShowIdOff(data-role="button", href="#") Ids Off

    //- Join
    div(data-role="page", id="join")

      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1 Junkyard Jumbotron
        a.jjNavHelp(href="#help", data-icon="info") Help

      div(data-role="content")
        div
          p There's no jumbotron with that name, please try again.
          form#jjJoinForm(action="join", method="POST", data-ajax="false")
            input#jjJoinName(name="name", type="text")
            inputjjJoinSubmit(name="join", type="submit", value="Join") Next
