!!!
html(lang="en")
  head
    title Junkyard Jumbotron

    //- TODO/PHONEGAP: Use local jquery and jquery mobile
    //-   script(type="text/javascript", src="javascript/phonegap.js")
    //-   script(type="text/javascript", src="javascript/jquery-1.4.4.min.js")
    //-   link(rel="stylesheet", href="css/jquery.mobile-1.0a2.css", type="text/css")

    link(rel="stylesheet", href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css", type="text/css")
    link(rel="stylesheet", href="css/jjcontroller.css", type="text/css")

    script(type="text/javascript", src="socket.io/socket.io.js")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.4.4.min.js")
    script(type="text/javascript", src="javascript/jquery.cookie.min.js")
    script(type="text/javascript", src="javascript/jquery.parsequery.min.js")
    script(type="text/javascript", src="javascript/jquery.form.min.js")
    script(type="text/javascript", src="javascript/json2.min.js")
    script(type="text/javascript", src="javascript/jjclient.js")
    script(type="text/javascript", src="javascript/jjcontroller.js")
    //-script(type="text/javascript", src="javascript/jquery.mobile-1.0a3.js")
    script(type="text/javascript", src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js")
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22130656-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    //----------------------------------------------------------------------
    //- Home
    div(data-role="page", id="home")
      div.jsOnly(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1 Junkyard Jumbotron

      div(data-role="content")
        div.jjMainTop
          noscript
            p.jsNone
              | The Junkyard Jumbotron requires javascript.
              br
              | Please enable javascript in your browser preferences.
          img#jjExampleImg(src="images/example.jpg")
        div.jjSidebar
          p
            a.jjButton(href="#create", title="Create a new Jumbotron") Create
            a.jjButton(href="#connect", title="Control an existing Jumbotron") Connect
            hr
            | Questions, comments or success stories? Let us know on
            a(href="http://www.facebook.com/junkyardjumbotron")
              img(src="images/facebook_logo.jpg", height="21", alt="Facebook", , style="margin:4px 0px 0px 0px;")
            hr
            a.jjLink(href="http://player.vimeo.com/video/20962561") Watch the video
            hr
            a.jjLink(href="https://github.com/c4fcm/Junkyard-Jumbotron") Get the code
            hr
            iframe(src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fjumbotron.media.mit.edu&amp;layout=button_count&amp;show_faces=true&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21", scrolling="no", frameborder="0", style="border:none; overflow:hidden; height:21px;", allowTransparency="true")
            hr
            a(href="http://twitter.com/share", class="twitter-share-button", data-url="http://jumbotron.media.mit.edu", data-text="Junkyard Jumbotron", data-count="none") Tweet
            script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
            hr
            a.jjLink(href="mailto:jumbotron@media.mit.edu") Contact us
        div.jjMainBottom
          p
            | The
            b Junkyard Jumbotron 
            | lets you take a bunch of random displays and instantly
            | stitch them together into a large, virtual display, simply
            | by taking a photograph of them.
            | It works with laptops, smartphones, tablets --- anything
            | that runs a web browser. It also highlights a new way of
            | connecting a large number of heterogenous devices to each
            | other in the field, on an ad-hoc basis.
          p
            | The Junkyard Jumbotron is designed by Rick Borovoy,
            | Ph.D. and Brian Knep at MIT's Center for Future Civic
            | Media.
          p
            | The software is BETA.

    //----------------------------------------------------------------------
    //- Help
    div.jsOnlyPage(data-role="page", id="help")

      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1 Junkyard Jumbotron
        a.jjNavHelp(href="#help", data-icon="info") Help

      div(data-role="content")
        p Sorry, no help yet. Stay tuned!

    //----------------------------------------------------------------------
    //- Create
    div.jsOnlyPage(data-role="page", id="create")
      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1.jjTitle Junkyard Jumbotron
      div(data-role="content")
        div.jjStepNumber 1
        div.jjStepTitle Create
        div.jjStepBody
          p We need a name for your new jumbotron.
          form#jjCreateForm(action="create", method="POST", data-ajax="false")
            input#jjCreateName(name="name", type="text")
            p.jjStepHeader Tips
            ul
              li Names must begin with a letter or number and may contain only letters, numbers, dashes, and underscores.
              li At any time you can connect to this jumbotron from the home page.
            input#jjCreateSubmit(name="create", type="submit", value="Next") Next


    //----------------------------------------------------------------------
    //- Connect
    div.jsOnlyPage(data-role="page", id="connect")
      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1.jjTitle Junkyard Jumbotron
      div(data-role="content")
        div.jjStepNumber 1
        div.jjStepTitle Connect
        div.jjStepBody
          p What is the name of your jumbotron?
          form#jjControlForm(action="control", method="POST", data-ajax="false")
            input#jjControlName(name="name", type="text")
            input#jjControlSubmit(name="control", type="submit", value="Next") Next

    //----------------------------------------------------------------------
    //- Setup
    div.jsOnlyPage(data-role="page", id="setup")
      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1.jjTitle Junkyard Jumbotron
      div(data-role="content")
        div.jjStepNumber 2
        div.jjStepTitle Setup
        div.jjStepBody
          p Arrange your displays, open a web browser on each, and navigate to
            span.jjDisplayUrl jj.brownbag.me/none
          p They should look something like this:
          img.jjImgBig(src="images/instr/setup.png")
          div.jjStepHeader Tips
          ul
            li Make sure the symbol on each display isn't hidden by another display.
          div.jjStepHeader Problems?
          ul
            li 
              | If some displays are black, you may be using a browser
              | we don't support. We support most modern browsers other than
              | Internet Explorer. Try Chrome, Firefox or Safari instead.
          a(href="#calibrate", data-role="button") Next

    //----------------------------------------------------------------------
    //- Calibrate
    div.jsOnlyPage(data-role="page", id="calibrate")
      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1.jjTitle Junkyard Jumbotron
      div(data-role="content")
        div.jjStepNumber 3
        div.jjStepTitle Calibrate
        div.jjStepBody
          p Take a picture of the displays.
          img.jjImgBig(src="images/instr/photo.png")
          p Email the picture to
            span.jjEmailUrl none@jj.brownbag.me
            span or upload it below.
          div.jjStepHeader Tips
          ul
            li Make sure each symbol can be seen completely in the picture.
            li Avoid glare and other reflections that might hide the symbols.
            li Try to take the picture from directly in front of the displays.
            li If you've already calibrated your jumbotron, you may 
              a(href="#control") skip this step
          form#jjCalibrateForm(action="upload", enctype="multipart/form-data", method="POST", data-ajax="false")
            input#jjCalibrateType(name="type", type="hidden", value="calibrate")
            input#jjCalibrateFile(name="file", type="file")
            input#jjCalibrateSubmit(name="calibrate", type="submit", value="Upload")

    //----------------------------------------------------------------------
    //- Success
    div.jsOnlyPage(data-role="page", id="success")
      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1.jjTitle Junkyard Jumbotron
      div(data-role="content")
        div.jjStepNumber 4
        div.jjStepTitle Success!
        div.jjStepBody
          p We received your picture and created a jumbotron out of the displays we found.
          p Your displays should now look something like this:
          img.jjImgBig(src="images/instr/success.png")
          p.jjStepHeader Problems?
          ul
            li 
              img.jjImgSmall(src="images/error.png")
              | If you see a warning sign on one of the displays,
              | it means we coudn't find that display.
              a(href="#setup") Try again
              | , and make sure to follow the tips.
          div(style="clear:both;")
            a(href="#control", data-role="button") Next

    //----------------------------------------------------------------------
    //- Failure
    div.jsOnlyPage(data-role="page", id="failure")
      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1.jjTitle Junkyard Jumbotron
      div(data-role="content")
        div.jjStepNumber !
        div.jjStepTitle Whoops!
        div.jjStepBody
          p We received your picture but didn't find any displays.
          p
            a(href="#setup") Try again
            | , and make sure to follow the tips.
          a(href="#setup", data-role="button") Try again

    //----------------------------------------------------------------------
    //- Control
    div.jsOnlyPage(data-role="page", id="control")
      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1.jjTitle Junkyard Jumbotron
      div(data-role="content")
        div.jjStepNumber 5
        div.jjStepTitle Control
        div.jjStepBody
          p
            |  Here you can add and remove images,
            | step through them individually, play them in a slideshow,
            | or resize them.
            | You can also recalibrate if you'd like to rearrange,
            | add, or remove displays.

          div.jjStepHeader Add
          p Email pictures to
            span.jjEmailUrl none@jj.brownbag.me
            span or upload them below.
          form#jjUploadForm(action="upload", enctype="multipart/form-data", method="POST", data-ajax="false")
            input#jjUploadType(name="type", type="hidden", value="image")
            input#jjUploadFile(name="file", type="file")
            input#jjUploadSubmit(name="upload", type="submit", value="Upload")
          
          div.jjStepHeader Remove
          div#jjDeleteButtons(data-role="controlgroup", data-type="horizontal")  
            a#jjDeleteOne(data-role="button", href="#") Delete Current
            a#jjDeleteAll(data-role="button", href="#") Delete All

          div.jjStepHeader Slideshow
          div#jjSlideshowButtons(data-role="controlgroup", data-type="horizontal")
            a#jjSlideshowFirst(data-role="button", href="#") 
            a#jjSlideshowPrev(data-role="button", href="#")  
            a#jjSlideshowPlay(data-role="button", href="#")  
            a#jjSlideshowStop(data-role="button", href="#")  
            a#jjSlideshowNext(data-role="button", href="#")  
            a#jjSlideshowLast(data-role="button", href="#")  
            input#jjSlideshowInterval(name="interval", type="hidden", value="5")

          div.jjStepHeader Resize
          div#jjFitButtons(data-role="controlgroup", data-type="horizontal")  
            a#jjFitMaximize(data-role="button", href="#") Max
            a#jjFitMinimize(data-role="button", href="#") Min
            a#jjFitStretch(data-role="button", href="#") Stretch

          div.jjStepHeader Recalibrate
          div#jjRecalibrateButtons(data-role="controlgroup", data-type="horizontal")  
            a#jjRecalibrate(data-role="button", href="#setup") Recalibrate

          div.jjStepHeader Debug
          div#jjShowButtons(data-role="controlgroup", data-type="horizontal")  
            a#jjShowIdOn(data-role="button", href="#") Ids On
            a#jjShowIdOff(data-role="button", href="#") Ids Off

    // ----------------------------------------------------------------------
    //- Join
    div.jsOnlyPage(data-role="page", id="join")

      div(data-role="header", data-position="fixed", data-backbtn="false")
        a.jjNavHome(href="#home", data-icon="home") Home
        h1 Junkyard Jumbotron
      div(data-role="content")
        div
          p There's no jumbotron with that name, please try again.
          form#jjJoinForm(action="join", method="POST", data-ajax="false")
            input#jjJoinName(name="name", type="text")
            inputjjJoinSubmit(name="join", type="submit", value="Join") Next
