// ======================================================================
// Params - local parameters.
// Keep passwords and unique developer options here.

module.exports = {

    emailReplyTo: "info@mailserver.com",

    imageReceiveServer: 'my_catch_all.mailserver.com',

    pythonPath: '/path/to/python'

};
